<app-menu></app-menu>

<router-outlet></router-outlet>

<!--<div class="text-layout">
  <h1> {{ nombre | titlecase }} </h1>
  <h1> {{ valor | number }} </h1>
  <h1> {{ obj | json }} </h1>
</div>

<button 
  pButton 
  (click)="mostrarNombre()"
  label="Cambiar nombre"
  class="p-button-help"
  icon="pi pi-bell"
  iconPos="right">
</button>

<p-card [header]="nombre | titlecase"
  subheader="Esto es un subheader">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis eos numquam quasi alias libero, voluptatem ipsum accusantium! Harum eveniet ducimus dicta quae molestias, voluptas nulla reiciendis quod commodi! Deserunt, earum?
</p-card>
-->